---
pagination:
  data: posts.posts
  size: 1
  alias: posts
permalink: "posts/{{ posts.title | slug }}/"
layout: base.njk
---

<article>
  <h1>{{ posts.title }}</h1>
  <p><time datetime="{{ posts.date | w3Date }}">{{ posts.date | longDate }}</time></p>
  <p>by {{posts.author.name}}</p>

  {{ posts.content | safe }}
</article>